<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" ng-app="app">
  <h1>
    US Time Zone Display
  </h1>

  
  <button (click)='showTime("pst")' [ngClass]="{'active': active == 'pst'}">PST</button>
  <button (click)='showTime("mst")' [ngClass]="{'active': active == 'mst'}">MST</button>
  <button (click)='showTime("cst")' [ngClass]="{'active': active == 'cst'}">CST</button>
  <button (click)='showTime("est")' [ngClass]="{'active': active == 'est'}">EST</button>
  <button (click)='hideTime()'>Clear</button>

  <p *ngIf='active != ""'>{{ now | date: 'medium'}}</p>
</div>